In [6]:
import pandas as pd

df = pd.read_csv('after_task_1.csv')
df = df.drop('Unnamed: 0', axis=1)
df.head()

,target,id,time,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"- awww, that's a bummer. you shoulda got david..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,i dived many times for the ball. managed to sa...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,Karoli,"no, it's not behaving at all. i'm mad. why am ..."

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 5 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   target  1600000 non-null  int64
 1   id      1600000 non-null  int64
 2   time    1600000 non-null  object
 3   user    1600000 non-null  object
 4   text    1596930 non-null  object
dtypes: int64(2), object(3)
memory usage: 61.0+ MB

In [8]:
df['target'] = df['target'].map({4: 1, 0: 0})
df['target'].value_counts()

target
0    800000
1    800000
Name: count, dtype: int64

1 is negative and 0 is positive

In [12]:
df = df.drop(['id', 'time', 'user'], axis=1)

In [13]:
df.head()

   target                                               text
0       0  - awww, that's a bummer. you shoulda got david...
1       0  is upset that he can't update his facebook by ...
2       0  i dived many times for the ball. managed to sa...
3       0     my whole body feels itchy and like its on fire
4       0  no, it's not behaving at all. i'm mad. why am ...

In [14]:
df.to_csv('after_task_2.csv')