In [15]:
import pandas as pd

df = pd.read_csv('sentiment.csv', encoding='latin1', names=['target', 'id', 'time', 'query', 'user', 'text'], header=None)
df.head()

,target,id,time,query,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [ ]:
df['target'].value_counts()

remove
0    800000
4    800000
Name: count, dtype: int64

0 is negative and 4 is postive

In [13]:
df['query'].value_counts()

query
NO_QUERY    1600000
Name: count, dtype: int64

In [16]:
df = df.drop('query', axis=1)

In [17]:
df.head(10)

,target,id,time,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all...."
5,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,joy_wolf,@Kwesidei not the whole crew
6,0,1467811592,Mon Apr 06 22:20:03 PDT 2009,mybirch,Need a hug
7,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,coZZ,@LOLTrish hey long time no see! Yes.. Rains a...
8,0,1467811795,Mon Apr 06 22:20:05 PDT 2009,2Hood4Hollywood,@Tatiana_K nope they didn't have it
9,0,1467812025,Mon Apr 06 22:20:09 PDT 2009,mimismo,@twittera que me muera ?

 # Data cleaning

### Removing # from the text

In [18]:
df['text'] = df['text'].str.replace(r'#\w+', '', regex=True)

### Removing mentions

In [ ]:
df['text'] = df['text'].str.replace(r'@\S+', '', regex=True) \
                                     .str.replace(r'\s+', ' ', regex=True) \
                                     .str.strip()

In [21]:
df.head()

,target,id,time,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"http://twitpic.com/2y1zl - Awww, that's a bumm..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,I dived many times for the ball. Managed to sa...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,Karoli,"no, it's not behaving at all. i'm mad. why am ..."

### Removing URL's

In [22]:
df['text'] = df['text'].str.replace(r'http\S+|www\.\S+', '', regex=True) \
                                     .str.replace(r'\s+', ' ', regex=True) \
                                     .str.strip()

In [23]:
df.head()

,target,id,time,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"- Awww, that's a bummer. You shoulda got David..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,I dived many times for the ball. Managed to sa...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,Karoli,"no, it's not behaving at all. i'm mad. why am ..."

### Turning all the text into lower case

In [26]:
df['text'] = df['text'].str.lower()
df.head()

,target,id,time,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"- awww, that's a bummer. you shoulda got david..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,i dived many times for the ball. managed to sa...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,Karoli,"no, it's not behaving at all. i'm mad. why am ..."

In [ ]:
df.to_csv('after_task_1.csv')